<style>
  .category-title {
    font-size: 18px; /* 设置字体大小 */
    font-style: italic; /* 设置为斜体 */
    font-family: "Times New Roman", Times, serif; /* 设置字体家族 */
    color: #d65a5a; /* 可选：设置字体颜色 */
  }
</style>

{% assign grouped_posts = site.posts | group_by: "categories" %}

{% for group in grouped_posts %}
  {% assign raw_category_name = group.name %}
  
  <!-- 去掉方括号和引号 -->
  {% assign category_name = raw_category_name 
    | remove: "[" 
    | remove: "]" 
    | remove: '"' 
    | strip %}
  
  <h2 class="category-title">{{ category_name }}</h2> <!-- 使用自定义类 -->
  <ul>
    {% for post in group.items %}
      <li>

        <!-- <a href="{{ post.url }}">{{ post.title }}</a> -->
      </li>
    {% endfor %}
  </ul>
{% endfor %}